<div class="container">

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>Login</h1>
        <form role="form" action="/login" method="post">
          <p>
            <input type="text" class="form-control" name="email" placeholder="Email">
          </p>
          <p>
            <input type="password" class="form-control" name="password" placeholder="Password">
          </p>
          <p>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </p>
        </form>
      </div>
    </div>
    
  </div>
</div>

</div>
 

 
 