<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
	    	<%if (typeof message != "undefined") {%>
		    	<div class="alert alert-danger" role="alert" id="success-alert">					
					<%-message %>
				</div>
				<script type="text/javascript">
					window.onload = function (){
						$("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
	    					$("#success-alert").alert('close');
						});
					}
				</script>
			<% } %>   
			<div class="panel panel-default">
                <div class="panel-body">
                    <h1>Sign Up</h1>
                    <form role="form" class="ajaxForm" action="/user" method="post" data-redirect="/user/success">
                        <p>
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </p>
                        <p>
                            <input type="text" class="form-control" name="name" placeholder="Name" required>
                        </p>
                        <p>
                            <input type="password" class="form-control" name="password" placeholder="Password" pattern=".{6,}" required title="6 characters minimum">
                        </p>
                        <p>
                            <button type="submit" class="btn btn-primary">Sign up</button>
                        </p>
                    </form>
                </div>
            </div>
            <p>Have an account? <a href="/login">Login</a></p>
        </div>
    </div>
</div>
