<div class="container">  
  
  <span class="loginBox pull-right"><% if(req.isAuthenticated()){ %>
            <a href="/account">User: <%= req.user.email %></a> | <a href="/logout">Logout</a>
          <% }else{ %>
            <a href="/login">Login</a></li>
          <% } %> | Cart</span>
  <h1 class="text-center">Welcome to Sails-Shop</h1>
  
  <p class="text-center">
    <% for(var i = 0; i < res.menu.length; i++){ %>
      <a href="/collections/<%= res.menu[i].slug %>"><%= res.menu[i].name %></a> <% if(i < res.menu.length - 1) { %>|<% } %>
    <% } %>
  </p>
  
</div>  