<div class="container">
 
  <span class="loginBox pull-right">Login | Cart</span>
  <h1 class="text-center">Welcome to Sails-Shop</h1>
  
  <p class="text-center">SAMPLE | SAMPLE | SAMPLE | SAMPLE | SAMPLE | SAMPLE</p>
  
  <h3>Best sellers</h3>
  
  <div class="row">
    <div class="col-sm-3">
      
      <img src="http://dummyimage.com/300x400/eeeeee/00ffd9.jpg" class="img-responsive" alt="">
      
    </div>
    <div class="col-sm-3">
      
      <img src="http://dummyimage.com/300x400/eeeeee/00ffd9.jpg" class="img-responsive" alt="">
      
    </div>
    <div class="col-sm-3">
      
      <img src="http://dummyimage.com/300x400/eeeeee/00ffd9.jpg" class="img-responsive" alt="">
      
    </div>
    <div class="col-sm-3">
      
      <img src="http://dummyimage.com/300x400/eeeeee/00ffd9.jpg" class="img-responsive" alt="">
      
    </div>
  </div>
  
</div>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
          <li>Link</li>
        </ul>
      </div>
    </div>
  </div>
</footer>