<div class="form-group">
    <label for="inputname">name</label>

         <input type="text" name="name" class="form-control" id="" placeholder="Enter name" value="<%if(typeof category.name !== "undefined"){%><%=category.name%><%}%>" >

  </div>


  <div class="form-group">
    <label for="inputslug">slug</label>

       <input type="text" name="slug" class="form-control" id="" placeholder="Enter slug" value="<%if(typeof category.slug !== "undefined"){%><%=category.slug%><%}%>">
  </div>


