<div class="form-group">
    <label for="inputname">name</label>

         <input type="text" name="name" class="form-control" id="" placeholder="Enter name" value="<%if(typeof category.name !== "undefined"){%><%=category.name%><%}%>" >

  </div>