
<div class="container">
<h1>Cart view</h1>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover" ng-show="cart.length > 0">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in cart">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#" style="margin-right:10px;"> 
                              <img class="media-object" src="{{item.product.images[0]}}" style="width: 72px;"> 
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{item.product.name}}</a></h4>
                                <h5 class="media-heading"> <a href="#"></a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                <!-- <span>Status: </span><span class="text-warning"><strong>Leaves warehouse in 2 - 3 weeks</strong></span> -->
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="number" class="form-control" ng-model = "cart[$index].qty" ng-change="saveCartItem($index)" value="{{item.qty}}">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{(item.product.price | number:2) + "€"}}</strong></td>
              
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{(item.product.price * item.qty | number:2) + "€"}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" ng-click="removeCart($index)">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button></td>
                    </tr>
                    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>{{(totalOrder | number:2) + "€"}}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong><%= utils.getShipping(cart).toFixed(2) %> €</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{(totalOrder + <%= utils.getOrderTotal(cart).toFixed(2) %>| number:2) + "€"}}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
            
            <div class="well" ng-show="cart.length < 1">
              No products added to the shopping cart
            </div>
        </div>
    </div>
</div>

