<div class="container">
  <h1>Checkout</h1>
  
  <!-- 
  <div class="col-sm-4">
      
      <h2>Have account?</h2>
      <br>
      <form role="form" action="/login?page=checkout" method="post">
      <input type="text" placeholder="Email" name="email" class="form-control"><br>
      <input type="password" placeholder="Password" name="password" class="form-control"><br>
      <input type="submit" class="btn btn-primary" value="Login">
      </form>
      
    </div>
  -->
  <% if(!req.user){ %>
  <div class="alert alert-info" role="alert">
    Have an user account? Please <a href="/login?page=checkout">Log In</a>
  </div>
  <% } %>
  
  <div class="row">
    <div class="col-sm-9">
     
     <div class="row">
       <div class="col-sm-6">
         
         <div class="form-group">
          <label for="">Name</label>
          <input type="text" name="name" class="form-control" id="" placeholder="Name">
        </div>
        
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" name="email" class="form-control" id="" placeholder="Email">
        </div>
        
        <div class="form-group">
          <label for="">Address</label>
          <input type="text" name="address" class="form-control" id="" placeholder="Address">
        </div>
        
        <div class="form-group">
          <label for="">Postal Code</label>
          <input type="text" name="cp" class="form-control" id="" placeholder="Postal Code">
        </div>
         
       </div>
       <div class="col-sm-6">
         
        <div class="form-group">
          <label for="">Surname</label>
          <input type="text" name="surname" class="form-control" id="" placeholder="Surname">
        </div>
        
        <div class="form-group">
          <label for="">Phone</label>
          <input type="text" name="phone" class="form-control" id="" placeholder="Phone">
        </div>
        
        <div class="form-group">
          <label for="">City</label>
          <input type="text" class="form-control" name="city" id="" placeholder="City">
        </div>
        
        <div class="form-group">
          <label for="">Country</label>
          <input type="text" name="country" class="form-control" id="" placeholder="Country">
        </div>
         
       </div>
     </div>
        
        <hr>
        
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Shipping</label><br>
              <input type="radio" checked> Normal shipping - <b>7.99€</b>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Payment</label><br>
              <input type="radio" name="payment" checked> Credit Card <br><input name="payment" type="radio"> Paypal
            </div>
          </div>
        </div>
        
        <hr>

        <button type="submit" class="btn btn-primary pull-right">Buy now</button>
        
      </form>
      
    </div>
    <div class="col-sm-3">
     
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your order</h3>
        </div>
        <div class="panel-body">
          <div>Products: <span class="pull-right"><%= utils.getProductsTotal(products) %>€</span></div>
          <div>Shipping: <span class="pull-right"><%= utils.getShipping(products) %>€</span></div>
          <hr>
          <b>Total: <span class="pull-right"><%= utils.getOrderTotal(products) %>€</span></b>
          <hr>
          <a href="" class="btn btn-primary btn-block">Buy now</a>
        </div>
      </div>
      
    </div>
  </div>
</div>  