<div class="container">
  <h1>Checkout</h1>
  
  <div class="row">
    <div class="col-sm-4">
      
      <h2>Have account?</h2>
      <br>
      <input type="text" placeholder="Email" class="form-control"><br>
      <input type="password" placeholder="Password" class="form-control"><br>
      <input type="submit" class="btn btn-primary" value="Login">
      
    </div>
    <div class="col-sm-8">
      
      <h2>Buy as guest</h2>
      <br>
      
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="" placeholder="Address">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">City</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="" placeholder="City">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Postal Code</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="" placeholder="Postal Code">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Country</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="" placeholder="Country">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Phone</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="" placeholder="Phone">
          </div>
        </div>

        <hr>
        
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Shipping</label>
          <div class="col-sm-10">
            <input type="radio" checked> Normal shipping - <b>7.99€</b>
          </div>
        </div>
        
        <hr>
        
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Payment</label>
          <div class="col-sm-10">
            <input type="radio" name="payment" checked> Credit Card <br><input name="payment" type="radio"> Paypal
          </div>
        </div>
        
        <hr>
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Check order</button>
          </div>
        </div>
      </form>
      
    </div>
  </div>
</div>  