<style>
  .buttonsContainer{
    background: #f0f0f0;
    border-top: 2px solid #eee;
    padding: 20px;
  }
</style>

 <!-- HEADER -->
  <div class="page-header">
    <h1>Add settings</h1>
  </div>
  
  <% if( req.session.flash && req.session.flash.error ){ %>
    <% var error = req.flash('error') %>
    <div class="alert alert-danger" role="alert">
    <b>Error</b>
     <ul>
      <% for(var i in error){  %>
        <li><%= error[i] %></li>
      <% } %>
      </ul>
    </div>
  <% } %>
  
  <form role="form" id="addSettings" action="/settings" method="post">

  <%- partial('form.ejs', {settings:settings}) %>
  
  <div class="buttonsContainer">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
    
  </form>
    