<div class="page-header">
    <h1>Settings <a href="settings/add" class="btn btn-primary pull-right">Add settings</a></h1>
  </div>
  
<table class="table table-striped">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<% for(var i = 0; i < settings.length; i++){ %>
  <tr>
    <td><%= settings[i].key %></td>
    <td><%= settings[i].value %></td>
    <td><a href="/admin/settings/edit/<%= settings[i].id %>">Edit</a> - <a href="javascript:void(0)" class="deleteSettings" id="<%= settings[i].id %>">Delete</a></td>
  </tr>
<% } %>
  </tbody>
</table>