<div class="page-header">
  <h1>Add Product </h1>
</div>

<form role="form" action="/admin/product/create" method="post" enctype="multipart/form-data">

  <%- partial('form.ejs', {product:product}) %>

  <div class="buttonsContainer">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>

    